In [3]:
!pip install pymongo

Requirement already satisfied: pymongo in /Users/afsankhan/opt/anaconda3/envs/edmonk_backend/lib/python3.11/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/afsankhan/opt/anaconda3/envs/edmonk_backend/lib/python3.11/site-packages (from pymongo) (2.6.1)

In [4]:
import pymongo

In [5]:
# make a connection
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [6]:
# list the database
myclient.list_database_names()

['admin', 'config', 'local', 'mydatabase', 'test_db', 'tutort']

In [7]:
# use the database
mydb = myclient["tutort"]

In [8]:
# to see all the collections
mydb.list_collection_names()

['students']

In [9]:
# create a collection
collection = mydb["teachers"]

In [10]:
mydb.list_collection_names()

['students']

In [11]:
teachers_list = [
    {
        "name": "Alice Johnson",
        "subject": "Mathematics",
        "years_of_experience": 10,
        "contact": {
            "email": "alice.johnson@example.com",
            "phone": "555-1234"
        },
        "courses": ["Algebra", "Calculus", "Geometry"]
    },
    {
        "name": "Bob Smith",
        "subject": "Science",
        "years_of_experience": 8,
        "contact": {
            "email": "bob.smith@example.com",
            "phone": "555-5678"
        },
        "courses": ["Physics", "Chemistry", "Biology"]
    },
    {
        "name": "Carol Davis",
        "subject": "History",
        "years_of_experience": 12,
        "contact": {
            "email": "carol.davis@example.com",
            "phone": "555-8765"
        },
        "courses": ["World History", "American History", "European History"]
    },
    {
        "name": "David Wilson",
        "subject": "English",
        "years_of_experience": 5,
        "contact": {
            "email": "david.wilson@example.com",
            "phone": "555-4321"
        },
        "courses": ["Literature", "Composition", "Creative Writing"]
    },
    {
        "name": "Eve Brown",
        "subject": "Computer Science",
        "years_of_experience": 7,
        "contact": {
            "email": "eve.brown@example.com",
            "phone": "555-6789"
        },
        "courses": ["Programming", "Data Structures", "Algorithms"]
    }
]

In [12]:
# inserted the data
data = collection.insert_many(teachers_list)

In [13]:
data = collection.insert_one({
        "name": "Alice tiwari",
        "subject": "Mathematics",
        "years_of_experience": 11,
        "contact": {
            "email": "alice.tiwari@example.com",
            "phone": "555-1234"
        },
        "courses": ["Algebra", "Calculus", "Geometry"]
    })

In [14]:
# find
data = collection.find()

In [15]:
# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af0'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12, 'contact': {'email': 'carol.davis@example.com', 'phone': '555-8765'}, 'courses': ['World History', 'American History', 'European History']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af1'), 'name': 'David Wilson', 'subject': 'English', 'years_of_experience': 5, 'contact': {'email': 'david.wilson@example.com', 'phone': '555-4321'}, 'courses': ['Literature', 'Composition', 'Creative Writing']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af2'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}
{'_id': ObjectId('66ce95caaa5aab3aa8c20af3'), 'name': 'Alice tiwari', 'subject': 'Mathematics', 'years_of_experience': 11, 'contact': {'email': 'alice.tiwari@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}

In [16]:
# filter and find the doc

data = collection.find({"subject" : "Mathematics"})

# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('66ce95caaa5aab3aa8c20af3'), 'name': 'Alice tiwari', 'subject': 'Mathematics', 'years_of_experience': 11, 'contact': {'email': 'alice.tiwari@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}

In [17]:
# projection
data = collection.find({}, {"name":1, "subject":1, "years_of_experience":1})

# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10}
{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af0'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af1'), 'name': 'David Wilson', 'subject': 'English', 'years_of_experience': 5}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af2'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7}
{'_id': ObjectId('66ce95caaa5aab3aa8c20af3'), 'name': 'Alice tiwari', 'subject': 'Mathematics', 'years_of_experience': 11}

In [18]:
data = collection.find({"subject" : "Mathematics"}, {"name":1, "subject":1, "years_of_experience":1})

# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10}
{'_id': ObjectId('66ce95caaa5aab3aa8c20af3'), 'name': 'Alice tiwari', 'subject': 'Mathematics', 'years_of_experience': 11}

In [21]:
# limit
data = collection.find({}, {"name":1, "subject":1, "years_of_experience":1}).limit(3)

# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10}
{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af0'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12}

In [22]:
# greater than query
my_query = {
    "years_of_experience" : {"$gt" : 5}
}
data = collection.find(my_query)
# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af0'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12, 'contact': {'email': 'carol.davis@example.com', 'phone': '555-8765'}, 'courses': ['World History', 'American History', 'European History']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af2'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}
{'_id': ObjectId('66ce95caaa5aab3aa8c20af3'), 'name': 'Alice tiwari', 'subject': 'Mathematics', 'years_of_experience': 11, 'contact': {'email': 'alice.tiwari@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}

In [23]:
# less than query
my_query = {
    "years_of_experience" : {"$lt" : 8}
}
data = collection.find(my_query)
# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20af1'), 'name': 'David Wilson', 'subject': 'English', 'years_of_experience': 5, 'contact': {'email': 'david.wilson@example.com', 'phone': '555-4321'}, 'courses': ['Literature', 'Composition', 'Creative Writing']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af2'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}

In [28]:
# regex
my_query = {
    "name" : {"$regex" : "^B"}
}
data = collection.find(my_query)
# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}

In [31]:
# regex
my_query = {
    "name" : {"$regex" : "h$"}
}
data = collection.find(my_query)
# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}

In [33]:
# sort the data - Ascending

my_query = {
    "years_of_experience" : {"$gt" : 5}
}
data = collection.find(my_query).sort("name", 1)
# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('66ce95caaa5aab3aa8c20af3'), 'name': 'Alice tiwari', 'subject': 'Mathematics', 'years_of_experience': 11, 'contact': {'email': 'alice.tiwari@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af0'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12, 'contact': {'email': 'carol.davis@example.com', 'phone': '555-8765'}, 'courses': ['World History', 'American History', 'European History']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af2'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}

In [35]:
# sort the data - descending
my_query = {
    "years_of_experience" : {"$gt" : 5}
}
data = collection.find(my_query).sort("name", -1)
# extract the data
for i in data:
    print(i)

{'_id': ObjectId('66ce9545aa5aab3aa8c20af2'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20af0'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12, 'contact': {'email': 'carol.davis@example.com', 'phone': '555-8765'}, 'courses': ['World History', 'American History', 'European History']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20aef'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}
{'_id': ObjectId('66ce95caaa5aab3aa8c20af3'), 'name': 'Alice tiwari', 'subject': 'Mathematics', 'years_of_experience': 11, 'contact': {'email': 'alice.tiwari@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('66ce9545aa5aab3aa8c20aee'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}

In [38]:
# update one

filter = {
    "name" : "Alice tiwari"
}

update = {
    "$set" : {
        "subject" : "economics"
    }
}
data = collection.update_one(filter, update)

In [ ]:
# update many data

filter = {
}

update = {
    "$set" : {
        "subject" : "abc"
    }
}
data = collection.update_many(filter, update)

In [39]:
#delete - one

filter = {
    "name" : "Alice tiwari"
}

data = collection.delete_one(filter)

In [40]:
#delete - many

filter = {
    "subject" : "abc"
}

data = collection.delete_many(filter)

dict